@import url('https://fonts.googleapis.com/css?family=Jomolhari|Lato:400,400i,700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #000;
    box-sizing: border-box;
    max-width: 100%;
}

@media (max-width: 600px) {
    body {
    font-size: 13px;
    }
}

body {
    font-family: ;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jomolhari', serif;
}

h1  {
    font-size: 2.5em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1em;
    line-height: 1.4;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: ;
    color: rgba(39, 60, 44, 1);
}

a:visited {
    color: ;
}

a:focus {
    background: ;
}

a:hover {
  background: ;
  border-bottom: 1px solid;
}

a:active {
    background: ;
    color: ;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    outline: none;
}